
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: cursive;
  margin: -10px;
  padding: 0;
  font-size: 1.4em;
  color: black;
  background: #c6f1e7;
}


h1 {
  position: relative;
  top: -50px;
  left: 30px;
  margin: 2em;
  color: #f5f5f5;
  font-size: 2.5em;
  text-shadow: -4px 4px #ef3550,
               -6px 6px #f48fb1,
               -8px 8px #7e57c2,
               -10px 10px #2196f3,
               -12px 12px #26c6da,
               -14px 14px #43a047,
               -16px 16px #eeff41,
               -18px 18px #f9a825,
               -20px 20px #ff5722
}

h1.info{
  border-bottom: 3px solid gray;
  position: relative;
  top: -20px;
  margin: 1em;
  color:black;
  text-shadow: none;
}

p.text {
  margin: 1em 0;
  font-size: 1.2em;
  position: relative;
  width: 30%;
  left: 54%;
  top: -525px;
  background-color: #fbf2d5;
  padding: 50px;
}

 p.success_submit {
   font-size: 1.5em;
   position: relative;
   left: 6%;
   background-color: pink;
   width: 25%;
   padding: 20px;
   top: 0px;
 }
 p[class='no_buggy'] {
   font-size: 1.5em;
   position: relative;
   padding: 20px;
   top: 100px;
   text-align: center;
 }

a.home_updated, a.show_buggy {
  position: relative;
  background-color: white;
  border: 1px solid #000000;
  color: black;
  padding: 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4em;
  padding: 20px;
  cursor: pointer;
  border-radius: 15px;
  width:10%;
  left: 118px;
  top: 50px;
}

a.poster_home {
  position: relative;
  background-color: white;
  border: 1px solid #000000;
  border-radius: 15px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3em;
  cursor: pointer;
  left: 85%;
  top: 20px;
  padding: 15px;
  width: 8%;
}

a.button, input.button {
  border: 1px solid #000000;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 15px;
  text-decoration: none;
  background-color: white;
  color: black;
  display: block;
  width: 20%;
  position: relative;
  padding: 30px;
  font-size: 1.2em;
  left: 14%;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.45s;
  top: -30px;
}

a.home_updated:hover, a.show_buggy:hover, a.poster_home:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  color:black;
}

input {
  padding: 0.5em;
  font-size: 110%;
  font-family: cursive;
  position: relative;
}
input[id='delete'], a[id='edit'], a[id='json'] {
  position: relative;
  background-color: white;
  border: 1px solid #000000;
  border-radius: 15px;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  padding: 10px;
  box-sizing: content-box;
  display: block;
  margin-bottom: 55px;
  top: 20px;
}


a.button_home {
  position: absolute;
  background-color: white;
  border: 1px solid #000000;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1.3em;
  cursor: pointer;
  border-radius: 15px;
  width: 8%;
  height: 1.8em;
  right: 80px;
  top: 25px;
}

a.home_form, input.button_submit, input.auto_complete, input.reset_val, input.show_flag {
  position: relative;
  background-color: white;
  border: 1px solid #000000;
  border-radius: 15px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3em;
  cursor: pointer;
  left: 60%;
  top: -158px;
  padding: 15px;
  box-sizing: content-box;
}

a.json1 {
  position: relative;
  background-color: white;
  border: 1px solid #000000;
  border-radius: 15px;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  cursor: pointer;
  padding: 25px;
  box-sizing: content-box;
  left: 30%;
  top: 300px;
  margin-right: 70px;
  float: left;
  display: block;
}
 a.home_json {
   position: relative;
   background-color: white;
   border: 1px solid #000000;
   border-radius: 15px;
   color: black;
   text-align: center;
   text-decoration: none;
   font-size: 1.5em;
   cursor: pointer;
   padding: 15px;
   box-sizing: content-box;
   margin-right: 10px;
   float: right;
   top: 50px;
   right: 8%;
 }

a.edit_buggy {
  position: relative;
  background-color: white;
  border: 1px solid #000000;
  border-radius: 15px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
  cursor: pointer;
  right: 49%;
  top: -37px;
  padding: 45px;
  box-sizing: content-box;
}

a.home_form:hover, a.button:hover, input.button_submit:hover, input.auto_complete:hover, input.reset_val:hover, input[id='delete']:hover, a[id='edit']:hover, a[id='json']:hover, a.json1:hover, a.home_json:hover, input.show_flag:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

input[type=color]{
  width: 20%;
  height: 30px;
  display: block;
  left: 7.5%;
  margin: 0.4em;
  top: -80px;;
  cursor: pointer;
}

select[id="power_type"], select[id="aux_power_type"], input[type=number], select[id="attack"], label.label3 {
  display: block;
  width: 20%;
  height: 100%;
  display:block;
  position: relative;
  left: 69%;
  top: -880px;
  font-size: 1em;
  box-sizing: inherit;
  margin: 8px 0;
  padding: 12px;
  font-size: 1em;
  font-family: cursive;
  cursor: pointer;
}


select[id="armour"], select[id="fireproof"], select[id="insulated"],select[id="antibiotic"], select[id="banging"], select[id="algo"], label.label5 {
  display: block;
  width: 20%;
  height: 100%;
  position: relative;
  left: 39%;
  top: -1805px;
  font-size: 1em;
  box-sizing: inherit;
  margin: 8px 0;
  padding: 12px;
  display: block;
  font-family: cursive;
  cursor: pointer;
}

input[class='no1'], label.label, select[id="flag_pattern"], select[id="tyres"] {
  display: block;
  width: 20%;
  height: 100%;
  position: relative;
  left: 8%;
  margin: 8px 0;
  padding: 12px;
  font-size: 1em;
  top: -89px;
  font-family: cursive;
  box-sizing: inherit;
  cursor: pointer;
}


select:required:invalid, input:required:invalid {
    background: #fff;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}


table.table1, table.table2, table.table3, table.table {
  border: 1px solid #000000;
  border-collapse: collapse;
  position: relative;
  top: 20px;
  padding: 18px;
  left: 6%;
  display: inline-table;
  margin: 30px;
  box-sizing:inherit;
  align-items: center;
  margin-bottom: 120px;
  float: left;
}


table td, table th {
  padding: 0.25em;
  border: 1px solid black;
  padding: 0.8rem;
  position: relative;
  top: 10px;
  left: 50px;
  background: #f7f7f7;

}

form
.spacer {
  margin: 1em 0;
}

.modal, .success {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  background: rgba(0, 0, 0, 0.35);
}

.modal-content, .content-md {
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 40px;
  text-align: center;
  padding: 20px;
  position: fixed;
}
.close, .close1 {
  position: absolute;
  top: -10px;
  right: 14px;
  font-size: 65px;
  transform: rotate(45deg);
  cursor: pointer;
}

input.submit_form {
  position: relative;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  margin: 4px 2px;
  color: black;
  cursor: pointer;
  bottom: -80px;
  padding: 10px;
  border-radius: 15px;
  width: 40%;
  font-size: 1.2em;
  padding: 15px;
}
a.button_back {
  position: relative;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  margin: 4px 2px;
  color: black;
  cursor: pointer;
  bottom: -20px;
  padding: 10px;
  border-radius: 15px;
  width: 40%;
  font-size: 1.2em;
  padding: 15px;
}

a.button_back:hover, input.submit_form:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.violation_rule, .read_more, .warning_msg, .info {
  position: relative;
  top: 0px;
  color: #db2d43;
}

.success_msg {
  position: relative;
  top: 60px;
  color: #02c39a;
}


.cs1999-tasks {
  border-top: 1px solid black;
  margin-top: 4em;
  padding: 20px;
  margin: 1em;
}
.cs1999-tasks .task {
  margin: 1em;
  padding: 1em;
  border: 2px solid black;
}
.cs1999-tasks .task h2 {
  border-bottom: 3px solid gray;
}

p2.task {
  font-size: 1.2em;
}

.cs1999-tasks .poster_home{
top: -3000px;
}


.flag {
  align-items: center;
  height: 95px;
  width: 155px;
  background: red;
  position: relative;
  left: 20%;
  top: -2650px;
}
.pattern {
  align-items: center;
  color: black;
  position: relative;
  left: 22.75%;
  top: -2750px;
  font-size: 70px;
}
