{% extends "base.html" %}

{% block content %}
  <h1>
    Create your racing buggy here!
  </h1>

  {% if session['username'] %}
  <a class='button1'>Hello, {{ session['username'] }} !</a>
  <a href="/logout" class="button2">Sign out</a>

  {% else %}
      <a href="/login" class="button1">Sign in</a>
      <a href="/signup" class="button2">Sign up</a>


  {% endif %}

      <a href="/new" class="button">Create buggy</a>
      <a href="/buggy" class="button">Show buggy</a>
      <a href="/json" class="button">Get buggy JSON</a>
      <a href="/poster" class="button">View poster</a>



  <p class='text'>
    Use this editor to specify a racing buggy. The editor saves it in its
    database and generates JSON data for the buggy.<BR>

    This is the data you need to supply when you log into the
    <strong><a href="{{ server_url }}">race server</a></strong> and enter your
    buggy into the next race.

  </p>

{% endblock %}
