{% extends "base.html" %}
{% block content %}

<a href="/" class="poster_home">Home</a>
<section class="cs1999-tasks">
  <div class="task">
    <h2>0-GET</h2>
    <p2>
      I forked the repo on GitHub and then used <code><strong>git clone</strong></code>
      in the command line to make a local copy.
    </p2>
    <p2>
      Once the repo was on my own machine I was able to commit changes to version control
      as I went along.
      I followed GitHub's instructions and set up a SSH key so I didn't need to enter
      username and password every time I pushed.
    </p2>
  </div>

  <div class="task">
  <h2>0-RUN: Get app running and view it in a browser</h2>
  <p2>
    Once the repo was on my own machine I was able to run it and view it in a browser window.
    To be able to store the data, a database had to be initialised. This was achieved by running
    <code><strong>python init_db.py </strong></code> in the command line.
  <p2>
    The program has been run in a virtual environment (venv). The virtual environment has been created
    using the following sintax: <code><strong>python -m venv venv </strong></code>.
  </p2>
</div>

<div class="task">
  <h2>0-CHANGE: Make a change to a template and see it appear</h2>
  <p2>
    The heading of the template <code><strong>index.html</strong></code> was edited. This was changed with another
    title.
  </p2>
  <p2>
    As I have changed the title in html I was able to change the appearences of the text in
    <code><strong> app.css </strong></code>. With the help of CSS I was able to edit and display
    the text in any way I preferred.
  </p2>
</div>

<div class="task">
  <h2>1-ADD: Add more data to the form</h2>
  <p2>
    More data was added to the form, stored in the database and displayed in the table under
    "Show buggy" section on the "Home" page.
  <p2>
    I have added more data to the form by writing the data I needed directly onto <code><strong>init_db.py</strong></code>
    file. In the file <code><strong>app.py</strong></code> -where the application is running - the new data form was
    added in the try statement. That would get the data from database and send it into the server.
  </p2>
</div>

<div class="task">
  <h2>1-VALID: Add basic data validation</h2>
  <p2>
    To stop the user from submiting words instead of integers into the section Quantity wheels a
    data validation has been added. Initially I have used the <code><strong>if</strong></code> and <code><strong>elif</strong></code>
    conditional statement with the string method <code><strong>.isdigit()</strong></code> and this function would analise if the input
    is a string or an integer. If is a string then an error message would be triggered to inform the user about the validation error.

    This was changed with the help of HTML. The type of the input box was upgraded to <code><strong>type='number'</strong></code> and this
    option inserts an input box where the user is allowed to only enter numbers, if the letters are pressed while the box is selected
    nothing will be inserted, except the mathematical constant 'e' but this is a float.
  </p2>
  For the color input I have added an input <code><strong>type='color'</strong></code> and this allows the user to choose the color of the
  flag visually and stops the user from inserting wrong data type.
  <p2>
  </p2>
</div>

<div class="task">
  <h2>1-STYLE: Style your editor just how you like it</h2>
  <p2>
    I have styled the editor in a way that for me looks user-friendly and joyfull. In the main (home) page there are four
    buttons that send the user to the four main sections of the web page.
    In the right-hand side are the four buttons that lead the user to the four sections of the page and on the left-hand side
    a paragraph has been displayed to help the user understand what the web page is about and it can be used.
  </p2>
  <p2>
    The form and the table have been updated in a way that all the data will be able to fit into one frame without the need of scrolling down the page
    in order to see the data. This was done in order to help the user see the data fields better and be able to compare if needed.
  </p2>
</div>

<div class="task">
  <h2>2-EDIT: Edit the record by loading its current values into the form</h2>
  <p2>
    <!-- sentence on _how_ you fixed it -->
  </p2>
  <p2>
    <!-- sentence(s) on anything interesting/incomplete you did -->
  </p2>
</div>

<div class="task">
  <h2>2-FORM: Make the form better</h2>
  <p2>
    In the form I have added all the data that was required in order to be able to create
    a complete racing buggy. I have made three columns which have 6 or 7 data sections where
    the data for the buggy can be added.
  </p2>
  <p2>
    In HTML the attribute <code><strong>required</strong></code> has been added and if
    the field has not been completed then the input box will be highlited and a message will show
    to inform the user that the field must be completed before submission.
  </p2>
</div>

<div class="task">
  <h2>2-COST: Calculate and save the game cost of the buggy</h2>
  <p2>
    The buggy cost has been calculated using the data available on the buggy racing website.
    The data has been simply written on the <code><strong>app.py</strong></code> file using
    approppriate variable names.
  </p2>
  <p2>
    Using the <code><strong>zip</strong></code> function, two lists have been zipped and paired,
    a series of tuples have been created.
    The if statement was used to itterate through the tuple and if the input is found in the tuple
    then the other value of the tuple would be used to calculate the cost.
  </p2>
</div>

<div class="task">
  <h2>2-RULES: Add validation according to the game rules</h2>
  <p2>
    To complete this task I have changed the 'Submit' button with a 'Validate' button. When the button is
    pressed the form will be scanned and if there is a rule violation then a modal will pop-up with the
    appropriate message informing the user about the violation. If no violation is done then on the modal
    a message will appear to inform the user thet the form is ready to be submited.
  </p2>
  <p>
    The pop-up modal and the validation rules have been created in JavaScript.
  </p>
</div>

<div class="task">
  <h2>3-ENV: Switch between dev and production environments</h2>
  <p2>
    To switch between the development and production environments the sintax
    <code><strong>set FLASK_ENV=development</strong></code> or <code><strong>set FLASK_ENV=production</strong></code>
    have been run in the comand line before the <code><strong>python app.py</strong></code> comand.
    To see the change happening when <code><strong>python app.py</strong></code> has been run a message is displayed
    and the environment can be seen.
  </p2>
  <p2>
    <!-- sentence(s) on anything interesting/incomplete you did -->
  </p2>
</div>

<div class="task">
  <h2>3-AUTOFILL: Add auto-fill to the edit forms</h2>
  <p2>
    An autofill button has been added on the form. Once the button is pressed the form will
    be randomly be completed with data. The autofill button was created in JavaScript.
  </p2>
  <p2>
    The form is unable to complete only the empty fields. If the user enters a value then once the button is
    pressed the field will be changed.
  </p2>
</div>

<div class="task">
  <h2>3-MULTI: Allow different buggies to be created</h2>
  <p2>

  </p2>
  <p2>
    <!-- sentence(s) on anything interesting/incomplete you did -->
  </p2>
</div>

<div class="task">
  <h2>3-DEL: Allow buggies to be deleted</h2>
  <p2>
    A new <code><strong>/delete</strong></code> route was created using the
    <code><strong>POST</strong></code> and <code><strong>GET</strong></code> methods.
    In the route, if the method is <code><strong>POST</strong></code> then the route
    will connect to the database and using the <code><strong>DELETE FROM</strong></code>
    staement the buggy will be deleted. If the method is <code><strong>GET</strong></code>
    the user will be redirected to the main page.
  </p2>
  <p2>
    Using a for loop to iterate through all the created buggies and for each buggy new buttons were introduced.
    Using the form attributes <code><strong>method</strong></code> and <code><strong>action</strong></code>
    the delete button was created.
    To make the user's experience easier 3 buttons were added to each table: delete, get Json and edit the buggy.

  </p2>
</div>

<div class="task">
  <h2>3-FLAG: Display the pennant graphically</h2>
  <p2>
    <!-- sentence on _how_ you fixed it -->
  </p2>
  <p2>
    <!-- sentence(s) on anything interesting/incomplete you did -->
  </p2>
</div>

<div class="task">
  <h2>3-TESTS: Write some tests</h2>
  <p2>
    <!-- sentence on _how_ you fixed it -->
  </p2>
  <p2>
    <!-- sentence(s) on anything interesting/incomplete you did -->
  </p2>
</div>

<!-- this closes the section: keep it in! -->
</section>

{% endblock %}
